#parentContainer {
  position: relative;
  margin: 10% 35%;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}

.squareContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.inputForm{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-content: center;
}

form {

}

input {
  height: 20px;
  border-radius: 5px;
}